@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
@font-face {
    font-family: 'Thunder-ExtraBoldLC';
    src: url('../fonts/Thunder-ExtraBoldLC.otf');
}

.btn-connexion {
    background-color: #A5DFD5;
    color: #282828;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    border-radius: 10rem;
    min-height: 2.5em;
    max-height: 2.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-connexion:hover {
    background-color: #282828;
    color: #F4F1EE;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.4s ease-out;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}