@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
@font-face {
    font-family: 'Thunder-ExtraBoldLC';
    src: url('../fonts/Thunder-ExtraBoldLC.otf');
}


html {
    background-color: #F4F1EE;
    /* background-color: #282828; */
    width: 100vw;
    height: 100vh;
}

.logo-over-white {
    font-family: 'Thunder-ExtraBoldLC';
    font-size: 2.5em;
    color: #282828;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: left;
    margin-left: 2em;
    margin-top: 0.5em;
}

/* @media only screen and (min-width: 2em) {
    .logo-over-white {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-left: 0;
    }
  } */

.dot-color {
    color: #A5DFD5;
    letter-spacing: 2px;
}

.intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px;
    max-width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0;
}

.intro-title {
    font-family: 'Thunder-ExtraBoldLC';
    /* font-size: 4em; */
    /* font-size: calc(3em + 0.390625vw); */
    /* font-size: calc(2em + 2vmin); */
    font-size: calc(60px + 0.390625vw);
    color: #282828;
    line-height: 1;
    /* padding-left: 1.20em;
    padding-right: 1.20em; */

}

.intro-quote {
    font-family: 'Inter';
    color: #282828;
    font-size: calc(13px + 0.390625vw);
    font-weight: 500;
    /* padding-left: 6em;
    padding-right: 6em; */
    margin-bottom: 2em;
}